<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReServe</title>
    <link rel="stylesheet" href="./CSS/user_payment.css" />
    <link rel="stylesheet" href="./CSS/stylewash.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon_io (2)/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon_io (2)/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon_io (2)/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="content">
      <div id="sidebar">
        <div id="colflex">
          <!-- <div id="site"> -->
          <div id="logo">
            <img id="logoimg" src="./Images/logo_orange.webp" alt="" />
          </div>

          <!-- </div> -->
          <div id="optionprofile">
            <div style="position: relative;">
              <div style=" border-radius: 9999px; overflow: hidden;">
              </div>
           </div>
            <div class="pk-profile-part1-name" style="font-size: 30px; margin-left: 26px; background-color: #191c24; border-radius: 20px; padding-left: 20px; padding-right: 20px;">Guest</div>
          </div>
        </div>

        <div id="options">
          <div class="elewrap">
            <div class="element">
                <svg
    
                height="30px"
                width="30px"
                xmlns="http://www.w3.org/2000/svg"
                fill="#0090E7"
                stroke="#0090E7"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      fill-rule="nonzero"
                      d="M6 3h7a6 6 0 1 1 0 12h-3v6H6V3zm4 4v4h3a2 2 0 1 0 0-4h-3z"
                    ></path>
                  </g>
                </g></svg>
               <a
                style="text-decoration: none; color: white"
                href="/service1"
                ><div>Parking</div></a
              >
            </div>
          </div>
          <div class="elewrap">
            <div class="element">
                <svg
                fill="#00D25B"
                height="30px"
                width="30px"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 512 512"
                xml:space="preserve"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <g>
                      <path
                        d="M441.605,322.478h67.129v-88.722h-99.217c5.93,7.16,11.279,16.342,13.654,25.422c5.052,16.318-3.789,33.984-19.755,39.418 c-16.31,5.553-34.122-3.366-39.447-20.343c-4.003-12.767,4.186-17.889-16.614-25.367c-8.035-2.896-13.359-10.219-14.254-18.304 c-0.397-3.589,0.049-7.19,1.5-10.708c-1.442,0.354-15.631,3.081-18.186,3.151l-2.605,14.544 c-17.181,10.001-28.74,28.604-28.74,49.918v118.394c0,11.933,9.674,21.608,21.608,21.608h13.138v38.494 c0,23.205,18.812,42.016,42.017,42.016c23.205,0,42.017-18.811,42.017-42.016v-38.494h36.338v18.186 c0,6.106,4.95,11.057,11.057,11.057h57.489v-59.245v-0.024h-45.434c-7.407,0-13.412-6.005-13.412-13.412 c0-7.407,6.005-13.412,13.412-13.412h45.434v-25.337h-67.129c-7.407,0-13.412-6.005-13.412-13.412 S434.198,322.478,441.605,322.478z M360.742,372.26c-18.89,0-37.644-15.918-37.644-38.086c0-20.874,16.921-37.795,37.795-37.795 s37.795,16.921,37.795,37.795C398.689,355.857,380.542,372.26,360.742,372.26z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M401.709,75.418h-43.276c-8.608,0-15.981,6.169-17.498,14.643l-2.121,11.845c10.747,2.41,19.552,10.447,22.902,21.524 c2.721,8.997,1.822,25.856-6.959,42.888c1.753-1.009,3.832-2.036,9.778-6.333l8.775-49.016h25.589 C401.91,99.126,402.762,86.738,401.709,75.418z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M461.795,75.417c-0.219,14.045-1.741,24.549-4.197,35.552h9.754c0,3.313,0.02,11.627,0.02,14.501 c0,5.848,4.741,10.588,10.588,10.588h30.774v-31.707V75.417H461.795z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M97.928,374.304l-1.083-9.101c-16.438,1.687-33.826,0.343-49.785-4.38l1.562,13.124L7.263,478.54 c-4.967,12.563,1.189,26.772,13.752,31.74c12.564,4.968,26.772-1.192,31.739-13.752l43.631-110.34 C97.877,382.416,98.407,378.332,97.928,374.304z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M163.839,362.892l-3.008-24.004c-13.946,11.17-29.474,18.95-46.39,23.216l0.362,2.89l-23.917,117.67 c-2.69,13.237,5.859,26.15,19.098,28.84c13.231,2.69,26.149-5.855,28.84-19.098l24.715-121.601 C164.068,368.202,164.169,365.529,163.839,362.892z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M290.474,210.855c-1.936-6.565-8.831-10.313-15.394-8.378l-44.189,13.042c4.172,7.086,6.327,15.446,5.793,24.133 l5.928-1.75l-3.504,13.483c-1.722,6.624,2.252,13.39,8.877,15.111c6.618,1.722,13.388-2.248,15.111-8.877l7.252-27.903 l11.745-3.466C288.66,224.311,292.412,217.419,290.474,210.855z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <ellipse
                        cx="95.367"
                        cy="45.298"
                        rx="43.476"
                        ry="45.298"
                      ></ellipse>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M157.366,273.038c-1.824,3.161-3.851,6.38-6.099,9.572c-18.475,26.245-42.838,38.838-72.431,37.435 c-27.983-1.33-44.194-14.842-53.574-30.696c-0.784-1.324-2.069-2.276-3.564-2.64c-1.495-0.363-3.076-0.11-4.38,0.707 l-11.375,7.126c-2.617,1.64-3.453,5.057-1.892,7.72c14.745,25.163,39.158,40.903,73.608,42.541 c38.542,1.825,71.096-15.153,94.366-48.628c4.444-6.394,8.136-12.809,11.177-18.824L157.366,273.038z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M199.103,215.451l-71.648-11.958l-32.358-73.966l43.337,55.512l12.257,2.045v-52.325c0-16.9-13.148-30.6-29.368-30.6 H68.948c-16.22,0-29.125,13.7-29.125,30.6v136.868c7.376,18.046,19.714,26.523,40.005,27.488 c23.486,1.117,41.888-10.444,55.241-29.795c-31.172-5.202-29.379-4.872-31.113-5.273c-17.7-4.091-27.947-19.037-29.664-27.994 l-16.6-86.631l36.252,82.866c2.36,5.395,6.704,9.522,11.989,11.502c2.635,0.987-3.625-0.222,86.534,14.825 c11.442,1.912,22.199-6.212,24.03-18.124C218.318,228.643,210.607,217.37,199.103,215.451z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M441.223,50.864c-1.773-6.763-8.472-10.751-14.965-8.903c-6.261,1.782-10.384,8.537-8.519,15.688 c3.696,14.091,4.321,35.226,0.484,52.932c-3.168,12.893-4.844,18.841-12.967,32.82c-4.424,7.897-14.623,19.19-17.38,21.511 c-21.242,19.991-45.965,29.38-72.711,36.873c-1.899,0.53-2.745,2.228-2.472,3.83c0.306,1.795,1.95,3.007,3.691,2.686 c28.646-5.304,55.258-12.71,80.253-32.438c3.247-2.312,15.694-13.751,21.883-22.771c6.516-9.224,12.119-18.105,18.453-37.192 C445.141,89.205,443.634,60.101,441.223,50.864z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M343.816,128.846c-2.05-6.778-8.985-10.542-15.492-8.406c-6.173,2.026-10.311,8.917-7.92,16.621 c0.591,0.683,1.157,4.492,1.225,5.419c0.88,6.014-0.661,11.972-2.985,17.076c-4.1,8.439-9.53,12.53-15.579,17.058 c-1.028,0.775-1.525,2.169-1.141,3.507c0.485,1.69,2.193,2.65,3.817,2.144c6.5-2.03,12.591-3.583,22.068-11.371 c1.112-1.092,5.799-5.536,8.179-9.554C343.602,149.269,345.582,134.687,343.816,128.846z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M405.18,264.298c-3.344-12.827-12.909-23.623-23.513-29.534c-11.156-5.818-19.65-5.692-26.969-5.687 c-1.269,0.003-2.46,0.831-2.898,2.152c-0.554,1.669,0.296,3.488,1.896,4.065l0.344,0.123c6.348,2.288,12.825,4.475,19.28,11.546 c5.406,6.238,8.206,13.156,8.003,20.75c-0.016,0.091-0.057,0.152-0.11,0.268c-0.212,9.736,8.394,15.562,16.177,12.912 C403.315,278.876,407.593,272.21,405.18,264.298z"
                      ></path>
                    </g>
                  </g>
                </g></svg><a
                style="text-decoration: none; color: white"
                href="/service2"
                ><div>Wash</div></a
              >
            </div>
          </div>
          <div class="elewrap">
            <div class="element">
                <svg
                fill="#FC424A"
                viewBox="0 0 256 256"
                height="30px"
                width="30px"
                id="Flat"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M88,8a8.00008,8.00008,0,0,1,8-8h64a8,8,0,0,1,0,16H96A8.00008,8.00008,0,0,1,88,8ZM208,56.00781v152a24.02624,24.02624,0,0,1-24,24H72a24.02624,24.02624,0,0,1-24-24v-152a24.02625,24.02625,0,0,1,24-24H184A24.02624,24.02624,0,0,1,208,56.00781Zm-57.375,71.51563A7.98172,7.98172,0,0,0,144,124.00781l-20.1875-.01562,11.61719-29.01563a8.00086,8.00086,0,0,0-14.85938-5.9375l-16,39.98438A8.001,8.001,0,0,0,112,139.99219l20.1875.01562-11.61719,29.03125a8.00086,8.00086,0,0,0,14.85938,5.9375l16-40A8.00973,8.00973,0,0,0,150.625,127.52344Z"
                  ></path>
                </g></svg><a
                style="text-decoration: none; color: white"
                href="/service3"
                ><div>EV Charging</div></a
              >
            </div>
          </div>
          <div class="selected elewrap">
            <div class="element">
                <svg fill="#a3b83d" 
                height="30px"
                width="30px"
                version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 750.002 750.002" xml:space="preserve" stroke="#a3b83d"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M424.205,239.341h-1.227h-95.957h-1.227c-103.444,44.353-180.907,220.456-180.907,359.245 c0,160.059,103.025,151.332,230.112,151.332c127.087,0,230.113,8.727,230.113-151.332 C605.113,459.797,527.65,283.694,424.205,239.341z M204.053,541.582c4.286-4.48,10.101-8.246,13.797-13.176 c11.122-11.527,15.001-27.162,8.857-42.215c-5.03-12.324-13.539-22.139-2.371-33.672c2.484-2.566,5.181-4.936,7.785-7.377 c6.042-5.664,12.005-12.162,15.393-19.801c4.971-11.207,5.098-22.922,0.223-32.822c11.217-19.436,24.659-36.51,40.563-49.329 v328.768c0,0-59.894,4.41-81.27-48.184c3.379-10.932,9.229-21.729,9.482-33.582c0.277-13.027-7.882-24.451-12.418-36.307 C202.555,549.865,201.342,544.928,204.053,541.582z"></path> <path d="M594.039,72.146V21.947C594.039,9.826,584.213,0,572.092,0h-27.594v94.092h27.594 C584.213,94.093,594.039,84.267,594.039,72.146z"></path> <path d="M480.365,135.154c-7.314,7.471-13.764,17.295-19.213,29.307c-1.965,4.329-3.676,8.683-5.172,12.944 c-0.447,2.081-0.604,3.295-0.604,3.295c10.602,0,43.732,11.927,64.938,58.311c21.203,46.384,68.25,36.444,38.432,6.626 c-29.818-29.818-45.059-125.898-45.059-125.898C499.41,122.301,488.576,128.102,480.365,135.154z"></path> <path d="M368.77,0.001c-27.324,0-84.911,11.64-135.673,78.554c-4.491,5.92-1.399,14.534,5.844,16.193 c25.882,5.927,74.168,29.466,74.168,122.593H424.43c0,0,10.602-121.922,98.066-121.922v-1.325V0.001h-0.604 C512.668,0.001,396.76,0.001,368.77,0.001z"></path> </g> </g> </g></svg><a style="text-decoration: none; color: white" href="/service4"
                ><div>Interior Cleaning</div></a
              >
            </div>
          </div>
          <div class="elewrap">
            <div class="element">
                <svg
                fill="#8F5FE8"
                version="1.1"
                id="Layer_1"
                height="30px"
                width="30px"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 511.999 511.999"
                xml:space="preserve"
                stroke="#8F5FE8"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <g><circle cx="328.647" cy="39.066" r="9.1"></circle></g>
                  </g>
                  <g>
                    <g><circle cx="388.583" cy="9.1" r="9.1"></circle></g>
                  </g>
                  <g>
                    <g><circle cx="388.583" cy="69.028" r="9.1"></circle></g>
                  </g>
                  <g>
                    <g><circle cx="388.583" cy="39.066" r="9.1"></circle></g>
                  </g>
                  <g>
                    <g><circle cx="358.62" cy="54.049" r="9.1"></circle></g>
                  </g>
                  <g>
                    <g><circle cx="358.62" cy="24.083" r="9.1"></circle></g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M343.424,153.802c-1.653-41.12-35.495-73.952-77.02-73.952h-63.789c-41.525,0-75.367,32.832-77.02,73.952h-11.278v47.677 h240.385v-47.677H343.424z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <rect
                        x="203.958"
                        y="0.019"
                        width="61.11"
                        height="46.434"
                      ></rect>
                    </g>
                  </g>
                  <g>
                    <g>
                      <polygon
                        points="343.504,266.595 343.504,234.869 125.514,234.869 125.514,430.933 343.504,430.933 343.504,399.207 234.508,399.207 234.508,266.595 "
                      ></polygon>
                    </g>
                  </g>
                  <g>
                    <g>
                      <rect
                        x="114.316"
                        y="464.322"
                        width="240.386"
                        height="47.677"
                      ></rect>
                    </g>
                  </g>
                </g></svg><a
                style="text-decoration: none; color: white"
                href="/service5"
                ><div>Painting</div></a
              >
            </div>
          </div>
        </div>
      </div>

      <div id="bod">
        
        <div id="slogan">SPARKLE UP & SHINE BRIGHT.<br>
          Book car clean now.</div>
      <img id="img"src="./Images/wash.jpeg">
      <div id="searchins">
     <div id="search">
  <form id="formstyle">
      <select>
          <option value="" disabled selected>Address,Place or Landmark</option>
          <option value="Chennai Central Metro Station">Chennai Central Metro Station</option>
          <option value="Marina Beach">Marina Beach</option>
          <option value="Express Avenue">Express Avenue</option>
          <option value="VR Mall">VR Mall</option>
      </select>
     
  </form>
  <div class="vertical-line heightdec"></div>
  <div id="date">
      <div class="element">
      <input id="dateinp"type="date">
      
  </div>
     </div>
     <div class="element">
      <input id="timeinp"type="time">
      
  </div>
  <a href="/users/got_centers">
      <button id="searchbtn">
          <svg viewBox="0 0 24 24" height="40px" width="40px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </button>
  </a>
     </div>
     <div id="instructionrow1">
      <div class="ins">
          <svg viewBox="0 0 24 24" height="65px" width="65px"fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11.9805 17H13.9561V7.0332H13.7441L9.62207 8.50977V10.1162L11.9805 9.38477V17Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z" fill="#ffffff"></path> </g></svg>
          <div class="instext">Select your desired location from the available options <br>and the date for car cleaning.</div>
  
      </div>
      <div class="ins">
          <svg viewBox="0 0 24 24" height="65px" width="65px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15723 17H15.9795V15.4072H11.7002L13.9629 13.0215C14.5827 12.3424 15.0202 11.7477 15.2754 11.2373C15.5306 10.7269 15.6582 10.2256 15.6582 9.7334C15.6582 8.83561 15.3734 8.14062 14.8037 7.64844C14.2386 7.15625 13.4434 6.91016 12.418 6.91016C11.748 6.91016 11.1488 7.05371 10.6201 7.34082C10.0915 7.62337 9.68131 8.0153 9.38965 8.5166C9.10254 9.0179 8.95898 9.57161 8.95898 10.1777H10.9414C10.9414 9.67643 11.069 9.27311 11.3242 8.96777C11.584 8.65788 11.9372 8.50293 12.3838 8.50293C12.7985 8.50293 13.1175 8.63053 13.3408 8.88574C13.5641 9.13639 13.6758 9.48275 13.6758 9.9248C13.6758 10.2484 13.5687 10.5902 13.3545 10.9502C13.1449 11.3102 12.819 11.7318 12.377 12.2148L9.15723 15.6465V17Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z" fill="#ffffff"></path> </g></svg>
      <div class="instext"> Compare prices and facilities offered by available <br>service centres to choose best suited centre</div>
      </div>
     </div>
     <div class="ins" id="instructionrow2">
      <svg viewBox="0 0 24 24" height="65px" width="65px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12.2197 11.1484H11.167V12.6934H12.2129C13.3066 12.6934 13.8535 13.1901 13.8535 14.1836C13.8535 14.5938 13.7191 14.9242 13.4502 15.1748C13.1859 15.4209 12.819 15.5439 12.3496 15.5439C11.9395 15.5439 11.5931 15.4255 11.3105 15.1885C11.0326 14.9515 10.8936 14.6462 10.8936 14.2725H8.91797C8.91797 15.1338 9.23242 15.8265 9.86133 16.3506C10.4948 16.8747 11.3083 17.1367 12.3018 17.1367C13.3636 17.1367 14.2158 16.8701 14.8584 16.3369C15.5055 15.8037 15.8291 15.0951 15.8291 14.2109C15.8291 13.6641 15.6901 13.1901 15.4121 12.7891C15.1387 12.388 14.7217 12.0872 14.1611 11.8867C14.6123 11.6816 14.9769 11.3877 15.2549 11.0049C15.5329 10.6221 15.6719 10.2028 15.6719 9.74707C15.6719 8.86296 15.3734 8.17025 14.7764 7.66895C14.1794 7.16309 13.3545 6.91016 12.3018 6.91016C11.6956 6.91016 11.1396 7.02637 10.6338 7.25879C10.1325 7.49121 9.74056 7.81478 9.45801 8.22949C9.18001 8.63965 9.04102 9.10449 9.04102 9.62402H11.0166C11.0166 9.29134 11.1442 9.02246 11.3994 8.81738C11.6546 8.60775 11.9714 8.50293 12.3496 8.50293C12.7689 8.50293 13.097 8.61458 13.334 8.83789C13.5755 9.0612 13.6963 9.37337 13.6963 9.77441C13.6963 10.1891 13.5755 10.5218 13.334 10.7725C13.0924 11.0231 12.721 11.1484 12.2197 11.1484Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z" fill="#ffffff"></path> </g></svg>
        <div class="instext">Proceed to payment and pay from your wallet <br>to confirm your booking.</div>
     </div>
    <div id="qual">
      <div id="qualtext">There are systems that provide <br> nearby listings at competitive prices</div>
      <div id="corgap">
      <div id="actusers1"><div class="num">435<span class="blu">+</span></div><div class="capt">Active users  using our application</div></div>
      
      <div class="vertical-line"></div>
      <div id="actusers2"><div class="num">60<span class="blu">+</span></div><div class="capt">Service centers in Chennai</div></div>
  </div>
    </div>
     <div id="vidarea">
      <div id="manage">
      <div id="vidtext">
          JOIN US TO REDEFINE  CAR WASHING EXPERIENCE
      </div>
      <div style="font-size: 26px ;font-weight:500; margin:30px;">Learn how to use.</div></div>
      <img id="vid" src="./Images/wash.jpeg" alt="no reason">
     
     </div>
        

        <div id="footer">
          <div id="gen">
            <div class="colfoot">
              <img id="logofoot" src="./Images/logo_orange.webp" alt="" />
              <div class="foottext">
                Curious about new developments and updates?<br />Follow us on
                social media.
              </div>
              <div id="social">
                <a
                  ><svg
                    height="30px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z"
                        fill="#ffffff"
                      ></path>
                      <path
                        d="M5 10C5 9.44772 5.44772 9 6 9H7C7.55228 9 8 9.44771 8 10V18C8 18.5523 7.55228 19 7 19H6C5.44772 19 5 18.5523 5 18V10Z"
                        fill="#ffffff"
                      ></path>
                      <path
                        d="M11 19H12C12.5523 19 13 18.5523 13 18V13.5C13 12 16 11 16 13V18.0004C16 18.5527 16.4477 19 17 19H18C18.5523 19 19 18.5523 19 18V12C19 10 17.5 9 15.5 9C13.5 9 13 10.5 13 10.5V10C13 9.44771 12.5523 9 12 9H11C10.4477 9 10 9.44772 10 10V18C10 18.5523 10.4477 19 11 19Z"
                        fill="#ffffff"
                      ></path>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z"
                        fill="#ffffff"
                      ></path>
                    </g></svg
                ></a>
                <a>
                  <svg
                    fill="#ffffff"
                    height="30px"
                    width="30px"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid"
                    viewBox="0 0 31.812 26"
                    stroke="#ffffff"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M20.877,2.000 C22.519,2.000 24.382,2.652 25.426,3.738 C26.724,3.486 27.949,3.025 29.050,2.386 C28.625,3.687 27.718,4.779 26.540,5.469 C27.693,5.332 28.797,5.035 29.820,4.590 C29.054,5.707 28.087,6.690 26.971,7.477 C26.981,7.715 26.987,7.955 26.987,8.195 C26.987,15.562 21.445,24.000 10.939,24.000 C7.715,24.000 4.507,23.133 1.982,21.551 C2.428,21.605 2.883,21.631 3.343,21.631 C6.019,21.631 8.482,20.740 10.439,19.242 C7.937,19.199 5.827,17.586 5.103,15.373 C5.450,15.437 5.810,15.473 6.178,15.473 C6.696,15.473 7.203,15.406 7.681,15.277 C5.068,14.768 3.100,12.514 3.100,9.813 C3.100,9.787 3.100,9.764 3.100,9.740 C3.871,10.158 4.750,10.410 5.687,10.440 C4.154,9.437 3.147,7.734 3.147,5.799 C3.147,4.777 3.428,3.818 3.919,2.998 C6.735,6.367 10.945,8.588 15.693,8.822 C15.594,8.414 15.543,7.984 15.543,7.553 C15.543,4.473 17.721,2.000 20.877,2.000 M29.820,4.590 L29.825,4.590 M20.877,-0.000 C17.033,-0.000 14.060,2.753 13.614,6.552 C10.425,5.905 7.524,4.204 5.440,1.711 C5.061,1.257 4.503,0.998 3.919,0.998 C3.867,0.998 3.815,1.000 3.763,1.004 C3.123,1.055 2.547,1.413 2.216,1.966 C1.525,3.122 1.159,4.447 1.159,5.799 C1.159,6.700 1.321,7.579 1.625,8.400 C1.300,8.762 1.113,9.238 1.113,9.740 L1.113,9.813 C1.113,11.772 1.882,13.589 3.160,14.952 C3.087,15.294 3.103,15.655 3.215,15.998 C3.657,17.348 4.459,18.510 5.499,19.396 C4.800,19.552 4.079,19.631 3.343,19.631 C2.954,19.631 2.577,19.609 2.222,19.565 C2.141,19.556 2.061,19.551 1.981,19.551 C1.148,19.551 0.391,20.078 0.108,20.886 C-0.202,21.770 0.140,22.753 0.932,23.249 C3.764,25.023 7.318,26.000 10.939,26.000 C17.778,26.000 22.025,22.843 24.383,20.195 C27.243,16.984 28.907,12.718 28.972,8.455 C29.899,7.682 30.717,6.790 31.410,5.792 C31.661,5.458 31.810,5.041 31.810,4.590 C31.810,3.909 31.473,3.308 30.958,2.946 C31.181,2.176 30.925,1.342 30.303,0.833 C29.940,0.537 29.496,0.386 29.049,0.386 C28.708,0.386 28.365,0.474 28.056,0.654 C27.391,1.040 26.680,1.344 25.931,1.562 C24.555,0.592 22.688,-0.000 20.877,-0.000 L20.877,-0.000 Z"
                      ></path>
                    </g></svg
                ></a>
                <a
                  ><svg
                    viewBox="0 0 24 24"
                    height="30px"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M2 6C2 3.79086 3.79086 2 6 2H18C20.2091 2 22 3.79086 22 6V18C22 20.2091 20.2091 22 18 22H6C3.79086 22 2 20.2091 2 18V6ZM6 4C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4H6ZM12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9ZM7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12ZM17.5 8C18.3284 8 19 7.32843 19 6.5C19 5.67157 18.3284 5 17.5 5C16.6716 5 16 5.67157 16 6.5C16 7.32843 16.6716 8 17.5 8Z"
                        fill="#ffffff"
                      ></path>
                    </g></svg
                ></a>
                <a
                  ><svg
                    height="30px"
                    viewBox="0 0 24 24"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    fill="#000000"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <title>meta_line</title>
                      <g
                        id="页面-1"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <g
                          id="Brand"
                          transform="translate(-480.000000, -0.000000)"
                        >
                          <g
                            id="meta_line"
                            transform="translate(480.000000, 0.000000)"
                          >
                            <path
                              d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                              id="MingCute"
                              fill-rule="nonzero"
                            ></path>
                            <path
                              d="M8.06925,5.00237 C6.47461,4.89183 5.20472,5.81816 4.31715,6.9809 C3.42438,8.15046 2.79487,9.7015 2.44783,11.2489 C2.10089,12.7959 2.01419,14.4379 2.29341,15.813 C2.56477,17.1493 3.25726,18.5227 4.71368,18.9581 C6.10192,19.3731 7.34848,18.783 8.30022,17.9824 C9.25406,17.18 10.0806,16.0364 10.7459,14.9309 C11.2678,14.0637 11.7139,13.1803 12.0636,12.4265 C12.4134,13.1803 12.8595,14.0637 13.3814,14.9309 C14.0467,16.0364 14.8732,17.18 15.8271,17.9824 C16.7788,18.783 18.0254,19.3731 19.4136,18.9581 C20.87,18.5227 21.5625,17.1493 21.8339,15.813 C22.1131,14.4379 22.0264,12.7959 21.6795,11.2489 C21.3324,9.7015 20.7029,8.15046 19.8101,6.9809 C18.9226,5.81816 17.6527,4.89183 16.058,5.00237 C14.3243,5.12255 13.0879,6.47059 12.3715,7.49 C12.2613,7.64685 12.1586,7.80273 12.0636,7.95456 C11.9687,7.80273 11.866,7.64685 11.7558,7.49 C11.0394,6.47059 9.803,5.12255 8.06925,5.00237 Z M10.9193,10.0265 C10.6371,10.7417 9.95004,12.3747 9.03232,13.8996 C8.41066,14.9325 7.71866,15.8581 7.01275,16.4519 C6.30475,17.0474 5.7503,17.1805 5.28652,17.0419 C4.89094,16.9236 4.46993,16.4812 4.25341,15.415 C4.04476,14.3875 4.0958,13.0402 4.39936,11.6866 C4.70282,10.3335 5.23656,9.07262 5.90692,8.19443 C6.58247,7.30944 7.27559,6.95216 7.93095,6.99758 C8.69718,7.0507 9.46077,7.70266 10.1194,8.63992 C10.487,9.16295 10.7616,9.6916 10.9193,10.0265 Z M13.208,10.0265 C13.4902,10.7417 14.1773,12.3747 15.095,13.8996 C15.7166,14.9325 16.4086,15.8581 17.1145,16.4519 C17.8226,17.0474 18.377,17.1805 18.8408,17.0419 C19.2364,16.9236 19.6574,16.4812 19.8739,15.415 C20.0825,14.3875 20.0315,13.0402 19.7279,11.6866 C19.4245,10.3335 18.8907,9.07262 18.2204,8.19443 C17.5448,7.30944 16.8517,6.95216 16.1963,6.99758 C15.4301,7.0507 14.6665,7.70266 14.0079,8.63992 C13.6403,9.16295 13.3657,9.6916 13.208,10.0265 Z"
                              id="形状"
                              fill="#ffffff"
                            ></path>
                          </g>
                        </g>
                      </g>
                    </g></svg
                ></a>
              </div>
            </div>
          </div>
          <div id="address">
            <div class="colfoot">
              <div class="foothead">ADDRESS</div>
              <div id="foottext">
                Indian Institue of Information Technology Sricity,<br />
                630, Gnan Marg Sri City, Sathyavedu,<br />
                Andhra Pradesh, India-517646
              </div>
            </div>
          </div>
          <div id="contact">
            <div class="colfoot">
              <div class="foothead line-space">CONTACT US</div>
              <div id="foottext" class="cont">
                <svg
                  viewBox="0 0 24 24"
                  height="20px"
                  width="20px"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M3 5.5C3 14.0604 9.93959 21 18.5 21C18.8862 21 19.2691 20.9859 19.6483 20.9581C20.0834 20.9262 20.3009 20.9103 20.499 20.7963C20.663 20.7019 20.8185 20.5345 20.9007 20.364C21 20.1582 21 19.9181 21 19.438V16.6207C21 16.2169 21 16.015 20.9335 15.842C20.8749 15.6891 20.7795 15.553 20.6559 15.4456C20.516 15.324 20.3262 15.255 19.9468 15.117L16.74 13.9509C16.2985 13.7904 16.0777 13.7101 15.8683 13.7237C15.6836 13.7357 15.5059 13.7988 15.3549 13.9058C15.1837 14.0271 15.0629 14.2285 14.8212 14.6314L14 16C11.3501 14.7999 9.2019 12.6489 8 10L9.36863 9.17882C9.77145 8.93713 9.97286 8.81628 10.0942 8.64506C10.2012 8.49408 10.2643 8.31637 10.2763 8.1317C10.2899 7.92227 10.2096 7.70153 10.0491 7.26005L8.88299 4.05321C8.745 3.67376 8.67601 3.48403 8.55442 3.3441C8.44701 3.22049 8.31089 3.12515 8.15802 3.06645C7.98496 3 7.78308 3 7.37932 3H4.56201C4.08188 3 3.84181 3 3.63598 3.09925C3.4655 3.18146 3.29814 3.33701 3.2037 3.50103C3.08968 3.69907 3.07375 3.91662 3.04189 4.35173C3.01413 4.73086 3 5.11378 3 5.5Z"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                </svg>
                <div>976522XXX9</div>
              </div>
              <div id="foottext" class="cont">
                <svg
                  viewBox="0 0 24 24"
                  height="20px"
                  width="20px"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M3 5.5C3 14.0604 9.93959 21 18.5 21C18.8862 21 19.2691 20.9859 19.6483 20.9581C20.0834 20.9262 20.3009 20.9103 20.499 20.7963C20.663 20.7019 20.8185 20.5345 20.9007 20.364C21 20.1582 21 19.9181 21 19.438V16.6207C21 16.2169 21 16.015 20.9335 15.842C20.8749 15.6891 20.7795 15.553 20.6559 15.4456C20.516 15.324 20.3262 15.255 19.9468 15.117L16.74 13.9509C16.2985 13.7904 16.0777 13.7101 15.8683 13.7237C15.6836 13.7357 15.5059 13.7988 15.3549 13.9058C15.1837 14.0271 15.0629 14.2285 14.8212 14.6314L14 16C11.3501 14.7999 9.2019 12.6489 8 10L9.36863 9.17882C9.77145 8.93713 9.97286 8.81628 10.0942 8.64506C10.2012 8.49408 10.2643 8.31637 10.2763 8.1317C10.2899 7.92227 10.2096 7.70153 10.0491 7.26005L8.88299 4.05321C8.745 3.67376 8.67601 3.48403 8.55442 3.3441C8.44701 3.22049 8.31089 3.12515 8.15802 3.06645C7.98496 3 7.78308 3 7.37932 3H4.56201C4.08188 3 3.84181 3 3.63598 3.09925C3.4655 3.18146 3.29814 3.33701 3.2037 3.50103C3.08968 3.69907 3.07375 3.91662 3.04189 4.35173C3.01413 4.73086 3 5.11378 3 5.5Z"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                </svg>
                <div>922522XXX9</div>
              </div>
              <div id="foottext" class="cont">
                <svg
                  viewBox="0 0 24 24"
                  height="20px"
                  width="20px"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M21 8L17.4392 9.97822C15.454 11.0811 14.4614 11.6326 13.4102 11.8488C12.4798 12.0401 11.5202 12.0401 10.5898 11.8488C9.53864 11.6326 8.54603 11.0811 6.5608 9.97822L3 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                </svg>
                <div>abcdefg@gmail.com</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/JS/user_wallet.js"></script>
</html>
