body {
    background-color: #141820;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

/* #logoimg{
    height: 50px;
    width:70px;
} */

#bod {
    margin: 0px;
    padding: 0px;
    display: flex;
    width:70%;
}
#content {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    gap: 0px;
   background-color: black;
    margin: 0px;
  

}

#sidebar {
    height: 100vh;
    width: 14vw;
    background-color: #191c24;
    top: 11vh;
    left: 0; 
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* position:sticky; */
    position: fixed;
    margin-top:-1vh;
   
  }
  

#body {
    margin: 0px;
    padding: 0px;
    display: flex;
}

/* #site{
display: flex;
flex-direction: row;
gap:0.5rem;
align-items: center;
margin: 10px;
} */

#logoimg{
    height:55px;
    width:200px;
    margin:0px 40px;
    margin-bottom: 10px;
    
}

#img1{
    height:25px;
    width:25px;
   margin-top: 8px;
}
#img2{
    height:25px;
    width:25px;
    margin-top: 8px;
    margin-left: 1px;

}
#options{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  
   
}
#optionprofile{
display: flex;
flex-direction: row;
align-items: center;
padding-left: 15px;
gap:8px;
background-color: #191c24;
margin-top: 2vw;
 

}
#colflex{
display: flex;
flex-direction:column;
justify-content: center;
 
    
}

.element{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  gap:13px;
  padding: 10px;
 padding-left: 20px;
 
}
.elewrap:hover{
    background-color: #141820;
    border-radius: 20px;
}

.selected{
 background-color: #000000;
 border-radius: 20px;
}

#profile{
    display:flex;
    align-items: center;
    margin-right: 15px;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 10px;
    right:10px;
    gap:8px;
    
    }
    
    .profile-name{

        color:white;
        background-color: #191c24;
        font-size: 17px;
      
    }
    .profile-pic{
        background-color: #191c24;
    }

    .navbar {
        display: flex;
        background: #191c24;
        font-family: calibri;
        padding-right: 5px;
        padding-left: 15px;
        position: top;
        width:98.7%;
        height: 10vh;
        top :0;
        z-index:1000;
         border-bottom: 5px solid black;
         position:sticky;
         top:0;
    }
    
    .navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mypage{
        width:80%;
        display: flex;
        flex-direction: column;
        margin-left: 15vw;
        height: 100%;
    }
.flex-r{
display: flex;
justify-content: space-between;
gap:3vw;
margin-left: 2vw;
}
#arrow1{
    
   
    background-color: #16302A;
    border-radius: 5px;
}
   .page1{
    display: flex;
    flex-direction: row;  


}


.box1, .box2{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* position: relative; */
    border-radius: 15px;
    margin: 4vh 3vw;
    background-color: #191c24;
    height: 20vh;
    width: 20vw;
    align-items: center;
  /* border:1px solid #6C7293; */
  box-shadow: 2px 5px 10px #6C7293;
    gap:0.5vh;
}


.page2{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;


}


 #searchtr{
        margin-right: 3vw;
        height: 4vh;
        width: 10vw;
      border-radius: 50px;
      background-color: #191C24;
      border:1px solid #6C7293;
      color:white;
      font-size: large;
      border: none;
      outline: none;
      width: 100%;
     
    }

    #searchplus{
        display: flex;
        align-items: center;
        background-color: #191C24;
        width: 15vw;
        border-radius: 50px;
        border: 1px solid #6C7293;
    }

    .box3{
        display: flex;
        height: 20vh;
        margin-top: 3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        /* weight:10px; */
        border-radius: 5vh;
        background-color: #191C24;
        border: 1px solid #6C7293;

    }
  
    .downpage{
        margin-top: 2vw;
        display: flex;
        flex-direction: row;
        gap:8vh;
        margin-top: 6vh;
        
    }
    .graph {
        display: flex;
        background-color: #191C24;
        height: 56vh;
        width: 80vh;
        /* background-image: url(./graph.png);  */
     
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin:0 5vw;
        padding: 20px;
        
    }
    
.circle{
    display: flex;
    background-color: #6C7293;
    height: 56vh;
    width: 70vh;
    /* background-image: url(./circle.png); */
    /* margin-left: 1vw; */
    background-size: cover;
    background-position: calc(50vw -20px) center  ;


}


    .profpcon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2vh;
        margin-left: 5vw;
    }
    .box3{
        display: flex;
        flex-direction: column;
        

    }
    .email{
        display: flex;
        align-items: center;
        gap:0.7vw;
       
    }

    .contact{
        display: flex;
        align-items: center;

    }

    .info{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:6vw;
        margin-left: 4vw;
        margin-top: 2vh;
        
    }
    .user{
        display: flex;
        align-items: center;
        gap:0.8vw;

    }

    
#footer{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin:0px;
    padding: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color:#191C24;
    min-height:260px;
    margin-left:11px;
    margin-right: 20px;
    margin-top: 5vh;

}

.colfoot{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  
  gap:15px
}


#logofoot{
    height:50px;
    width:180px;
    margin:30px 60px;
    padding: 0;
 
}
.foottext{
   
    font-size: 17px;
    align-self: flex-start;
    margin-left: 50px;
    padding-left: px;

}
#social{
    display: flex;
 /* justify-content:space-evenly; */
 gap:10px;
 margin-left: 50px;
}

.foothead{
font-size:30px;
font-weight: 600;
margin-left:70px;
margin-top:20px;
}

#foottext{
    margin-left:70px;
   
}

.line-space{
    letter-spacing: 0.0001em;
}

.cont{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}

  
  .top {
    padding-left: 30px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 22px;
    font-family: sans-serif;
  }
  
  .time-ago-elements {
    margin-top: 20px;
    width: 40vw;
  }
  
  .elements {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 1px;
    font-weight: 300;
    font-size: 15px;
    font-family: sans-serif;
    height: 50px;
  }
  
  #element1 {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 20px;
  }
  
  #element1 p {
    margin-top: 6px;
    font-size: 16px;
    color: #6c7293;
  }
  
  .time-ago {
    position: absolute;
    padding-top: 12px;
    margin-left: 420px;
    font-size: 22px;
    color: #6c7293;
  }