@font-face {
  font-family: Poppins_Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Poppins_Regular;
  font-weight: 400;
  font-style: normal;
  color: white;
  /* background: rgb(17, 17, 17);
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 1) 60%,
    rgba(3, 3, 64, 1) 98%
  ); */
  background-image: url(../Images/background.png);
  background-attachment: fixed;
}

#navbar {
  height: 9vh;
  width: 100%;
  border-bottom: 3px solid #111017;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #191a21; */
  /* background-color: #191c24; */
  background-color: #191c24;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 2;
}

#navbar img {
  margin-left: 2vw;
  padding: 1vh 2vw;
  width: 160px;
  height: 40px;
}

nav .page2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 1vw;
}

nav .page2 h4 {
  padding: 1vh 1vw;
  border: 2px solid rgb(106, 98, 98);
  border-radius: 50px;
  font-size: 15px;
  font-weight: 380;
  /* color: rgb(36, 33, 33); */
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

nav h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white; /* change here*/
  left: 0;
  bottom: -100%;
}

nav h4:hover::after {
  bottom: 0;
  border-radius: 50px;
  transition: all ease 0.4s;
}
nav h4 a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 9;
}

nav h4:hover a {
  color: black; /*change here*/
}

#mySidebar {
  height: calc(100% - 60px);
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #191c24;
  /* background-color: #15161a97; */
  /* background-color: #191a21; */
  /* border-right: 2px solid #111017; */
  border-right: 3px solid #111017;
  overflow-x: hidden;
  transition: 0.5s;
}

#mySidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mySidebar .icon {
  display: inline-block;
}

#mySidebar .menu-item {
  display: flex;
  align-items: center;
  height: 6.5vh;
  margin-bottom: 8px;
}
.material-icons {
  font-size: 30px;
  color: #d9d9d9;
  margin-left: 8px;
  /* margin-top: 1vh; */
}

#mySidebar .text {
  padding-left: 10px;
  display: none;
  margin-left: 10px;
}

#mySidebar.expanded .text {
  display: inline-block;
}

#mySidebar a:hover {
  color: #f1f1f1;
}

#mySidebar .menu-item:hover{
  background-color: #81818179;
  border-radius: 10px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #191c24;
  color: white;
  margin: 13px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.mainpage {
  height: 100%;
  width: 83%;
  margin-top: 50px;
  margin-left: 155px;
  transition: margin-left 0.5s;
  z-index: -1;
}

.mainpage .part1 {
  background-color: #191c24;
  /* background-color: #15161a97; */
  /* background-color: #191a21; */
  border-bottom: 3px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #0000008c;
}

.mainpage .part1 #a {
  font-size: 40px;
  display: flex;
}

.mainpage .part1 img {
  padding-top: 3vh;
  /* padding-bottom: 3vh; */
  padding-left: 7vw;
  height: 100%;
  width: 40%;
}

.mainpage .part1 #text {
  padding-top: 10vh;
  padding-left: 3vw;
  font-weight: 400;
  color: #ffffff;
}

.mainpage .part1 #text #txt2 {
  padding-top: 1vh;
  font-size: 25px;
}

.mainpage .part1 #b {
  display: flex;
}

#b img {
  height: 32vh;
  width: 27vw;
  padding-right: 5vw;
}

#b img:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

#b .texts {
  margin-left: 6vw;
  margin-top: 4vh;
  margin-bottom: 5vh;
  display: flex;
}
#b .text {
  padding: 0 2vw;
  height: 24vh;
  width: 50%;
}
#b .txt1 {
  color: rgba(255, 255, 255, 0.838);
  font-size: 58px;
  font-weight: 600;
}
#b .txt2 {
  color: #d9d9d9bb;
  padding-top: 1vh;
  font-size: 20px;
}
.part2 {
  margin-top: 2vh;
  /* background-color: #15161a97; */
  /* background-color: #191c24; */
  height: 110vh;
  width: 79vw;
  font-size: 40px;
  color: white;
  border-radius: 10px;
  border-top: 3px solid #444;
  box-shadow: 10px 10px 10px #0000008c;
}

.part2 #txt1 {
  font-size: 23px;
  color: #ffffffed;
  text-align: center;
  font-weight: 500;
}

.part2 #txt2 {
  font-size: 15px;
  color: #ffffffe2;
  text-align: center;
  vertical-align: center;
  padding: 0px 5px;
  margin-top: 12px;
}

.row1 {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
}

.row2 {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
}
.card {
  margin: 0px 30px;
  height: 45vh;
  width: 15vw;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.348);
  box-shadow: 0px 0px 6px 2px #818181;
  border-bottom: 3px solid whitesmoke;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 48%;
  /* height: 20vh; */
}

/* .card:hover {
  border: 3px solid white;
  height: 50vh;
} */

#howitworks {
  border-top: 3px solid #444;
  border-radius: 10px;
  text-decoration: 2px solid underline;
  text-underline-offset: 6px;
  text-align: center;
  margin-top: 2vh;
  padding-top: 4vh;
  font-size: 40px;
  color: #ffffffed;
}

.part3 {
  margin-top: 4vh;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 10px 10px 10px #0000008c;
}

.part3 img {
  padding-top: 4vh;
  height: 38vh;
  width: 31vw;
}
.part3 .text {
  padding-bottom: 2vh;
}

.part3 .text svg {
  padding: 7px;
  height: 18px;
  width: 18px;
  border: 2px solid #ff0101;
  border-radius: 15px;
  margin-right: 10px;
}

.part3 .txt1 {
  color: #ffffffe2;
  font-size: 20px;
  /* vertical-align: bottom; */
  display: flex;
}

.part3 .txt2 {
  color: #ffffffd1;
  padding-left: 4vw;
}

.part4 {
  background-color: #191c24;
  border-radius: 20px;
  border-bottom: 4px solid #d9d9d9;
  box-shadow: 10px 10px 10px #0000008c;
}

.part4 .row1 {
  /* border-top: 3px solid #444; */
  border-radius: 10px;
  padding: 0 4vw;
  padding-top: 4vh;
  display: flex;
  justify-content: space-between;
}
#client {
  font-size: 40px;
  color: #ffffffed;
}
.part4 .row1 svg {
  cursor: pointer;
  padding: 3px;
  margin: 8px;
  height: 30px;
  width: 30px;
  border: 3px solid #ffffffe2;
  border-radius: 20px;
}

.part4 .row1 svg:hover {
  background-color: #524d4d;
}

.part4 .row2 {
  display: flex;
}

.part4 .row2 .details img {
  height: 30vh;
  width: 12vw;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 10px;
}

.part4 .row2 .typed {
  color: #ffffffe2;
  font-size: 22px;
  width: 50vw;
  padding: 0vh 6vw;
}
.part4 .row2 .details {
  padding-left: 10vw;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
}
.part4 .row2 .typed .name {
  color: #ffffffd1;
  font-size: 25px;
  font-weight: 500;
}

.part4 .row2 .typed img {
  height: 22px;
  width: 22px;

  padding-top: 1vh;
}

.part6 {
  margin-top: 8vh;
  height: 53vh;
  border-radius: 2vh;

  background-color: #191c24;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  box-shadow: 10px 10px 10px #0000008c;
}

.why {
  margin-left: 6vw;
}

.qualities {
  display: flex;
  align-items: center;

  height: 38vh;
  width: 88%;
  margin-left: 5vw;
  margin-top: 0vh;
  margin-bottom: 2vh;

  border: 1px solid white;

  padding-top: 1vh;
}

.qualchild {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  width: 18vw;
  text-align: center;
  padding-right: 1vw;
  padding-left: 1vw;
  border-right: 1px solid white;
}

.part5 {
  margin-top: 20px;
  /* border: 3px solid #444; */
  border-radius: 10px;
}

.part5_second {
  display: flex;
  flex-direction: row;
}

.part5_second .column1 {
  padding: 5vh 4vw;
}
.part5_second .column1 .txt1 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.886);
}

.part5_second .column1 .txt1 div{
  background-color: none;
  height: 45px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-weight: 600;
  overflow: hidden;
}
.part5_second .column1 .txt1 div span{
  display: block;
  height: 100%;
  color: red;
  margin-bottom: 10px;
  animation: spin_words 3s infinite;
}

@keyframes spin_words{
  25%{
      transform: translateY(-30%);
  }
  30%{
      transform: translateY(-28%);
  }
  75%{
      transform: translateY(-142%);
  }
  100%{
      transform: translateY(-140%);
  }
}

.part5_second .column1 .txt2 {
  margin-top: 2vh;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.732);
}

.part5_second .column2 {
  background-color: #191c24;
  color: black;
  height: 55vh;
  width: 35vw;
  margin: 0 4vw;
  margin-bottom: 2vh;
}

.part5_second .column2 .txt1 {
  padding-top: 2vh;
  padding-left: 1vw;
  padding-bottom: 5px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.886);
}
.part5_second .column2 .txt2 .pt {
  display: flex;
  font-size: 15px;
  padding: 5px 1vw;
  color: rgba(255, 255, 255, 0.732);
}
.part5_second .column2 .txt2 .pt div {
  padding-left: 8px;
}

.register {
  border-top: 2px solid #524d4d60;
  margin-top: 1vh;
  padding: 2vh 5vw;
}

.register div {
  height: 5vh;
  width: 14vw;
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
  /* background-color: rgb(255, 255, 255); */
  background-color: #228b22;
  color: white;
  border-radius: 8px;
  font-weight: 600;
}

#footer {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-top: 2vh;
  padding: 0;
  border-radius: 20px;
  background-color: #191c24;
  min-height: 260px;
  box-shadow: 10px 10px 10px #0000008c;
}

.colfoot {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  gap: 15px;
}

#logofoot {
  height: 50px;
  width: 180px;
  margin: 30px 60px;
  padding: 0;
}
.foottext {
  font-size: 17px;
  align-self: flex-start;
  margin-left: 50px;
  padding-left: px;
}
#social {
  display: flex;
  /* justify-content:space-evenly; */
  gap: 10px;
  margin-left: 50px;
}

.foothead {
  font-size: 30px;
  font-weight: 600;
  margin-left: 70px;
  margin-top: 20px;
}

#foottext {
  margin-left: 70px;
}

.line-space {
  letter-spacing: 0.0001em;
}

.cont {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
