*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: white;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

a{
    text-decoration: none;
}

.sc-part1{
    top:0px;
    position:sticky;
    height: 104vh;
    width: 14vw;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0px 0px 90px 1px #1c5978e9;
    z-index: 0;
    margin-top: -600px;
}


.sc-part2{
    top:0;
    position: sticky;
    height: 100%;
    width: 86vw;
    background-color: #141820;
    background-image: url("Assets/Frame\ 24updatedbg.jpg");
    background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     overflow-x: hidden;
     /* overflow-y: hidden; */
} 



/* css of  sidebar part start */
.sc-web-logo{
    position: sticky;
    height: 4rem;
    width: 15vw;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* border: 1px solid white; */
}

.sc-web-logo > img{
    position: sticky;
    height: 3rem;
    width: 12vw;
}

.sc-profile-part1{
    position: sticky;
    height: 5rem;
    width: 15vw;
    /* border: 1px solid white; */
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: Poppins;
    margin-left: -10px;  
}

.sc-profile-part1-pic > img{
    position: sticky;
    height: 3rem;
    /* border: 1px solid white; */
}


.sc-options-part1{
    position: sticky;
    margin-top: 2rem;
    /* border: 1px solid white; */
    height: 50vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 0px; 
}


.sc-element{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13.5px;
    gap:13px;
    padding: 10px;
    padding-left: 20px;
}

.sc-element:hover{
    position: sticky;
    background-color: #141820;
    border-radius: 20px;
}

.sc-selected{
    position: sticky;
    background-color: #262939;
    border-radius: 20px;
}




/* css of part2 begins */


.sc-part2>nav{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid white; */
    height: 7vh;
}



.sc-heading-part{
    text-align: center;
    color: white;
    margin: 10.5rem;
    font-size: 3rem;
    /* border: 1px solid white; */
}


.sc-container-array{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}
.sc-card-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    /* border: 0.5px solid white; */
    height: 40vh;
    border-radius: 1rem;
    /* border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; */
    box-shadow: 10px 10px 10px #000000;
    transition: 2.5s;
}

.sc-card-center:hover{
    transform: scale3d(0.95,0.95,1);
    cursor: pointer;
}
.sc-center-text{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px; */
    /* border: 1px solid black; */
    width: 60vw;
    height: 40vh;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: rgb(145,223,187);
    background: linear-gradient(59deg, rgba(87, 47, 157, 0.453) 0%, rgba(255, 246, 246, 0.199) 30%);
}
.sc-center-image{
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: center;
}
.sc-center-image > img{
    height: 39vh;
    width: 25vw;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.sc-center-heading{
    /* border: 1px solid black; */
    margin: 1rem;
    font-size: 2rem;
}

.sc-center-location{
    /* border: 1px solid black; */
    margin: 1rem;

}

.sc-center-logos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    margin: 1rem;
    gap: 2rem;

}

.sc-center-price{
    /* border: 1px solid black; */
    margin: 1rem;
}

.sc-center-logos-phno{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.sc-center-logos-email{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.sc-center-booknow{
    /* border: 1px solid black; */
    margin: 1rem;
}

.sc-center-booknow > a{
    background-color: green;
    padding: 2px 4px;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
}


/* footer part  */

.sc-colfoot{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap:15px
}




#sc-logofoot{
    height:50px;
    width:180px;
    margin:30px 60px;
    padding: 0;
 
}
.sc-foottext{
   
    font-size: 17px;
    align-self: flex-start;
    margin-left: 50px;
    padding-left: px;

}
#sc-social{
    display: flex;
 /* justify-content:space-evenly; */
    gap:10px;
    margin-left: 50px;
}

.sc-foothead{
font-size:30px;
font-weight: 600;
margin-left:70px;
margin-top:20px;
}

#sc-foottext{
    margin-left:70px;
   
}

.sc-line-space{
    letter-spacing: 0.0001em;
}

.sc-cont{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}

#sc-footer{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin:4px;
    padding: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color:#191C24;
    min-height:260px;
    margin-left:20px;
    margin-right: 20px;
    /* border: 1px solid white; */

}
