* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 600%; */
}

a {
  text-decoration: none;
}

.cb-part1 {
  height: 105vh;
  width: 14vw;
  border: 1px solid black;
  background-color: black;
  box-shadow: 0px 0px 90px 1px #1c5978e9;
  z-index: 0;
  /* margin-top: -600px; */
  position: sticky;
  top: 0px;
}

.cb-part2 {
  height: 100%;
  width: 86vw;
  top:0px;
  background-color: #16191d;
  background-image: url("/Images/Frame\ 24updatedbg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* margin-top: -650px; */
}

/* css of  sidebar part start */
.cb-web-logo {
  height: 4rem;
  width: 15vw;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* border: 1px solid white; */
}

.cb-web-logo > img {
  height: 3rem;
  width: 12vw;
}

.cb-profile-part1 {
  height: 5rem;
  width: 15vw;
  /* border: 1px solid white; */
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: Poppins;
  margin-left: -10px;
}

.cb-profile-part1-pic > img {
  height: 3rem;
  /* border: 1px solid white; */
}

.cb-options-part1 {
  margin-top: 2rem;
  /* border: 1px solid white; */
  height: 50vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.cb-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13.5px;
  gap: 13px;
  padding: 10px;
  padding-left: 20px;
}

.cb-element:hover {
  background-color: #141820;
  border-radius: 20px;
}

.cb-selected {
  background-color: #262939;
  border-radius: 20px;
}

.cb-part2 > nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid white; */
  height: 7vh;
}

.cb-heading-part {
  text-align: center;
  color: white;
  margin: 0.5rem;
  font-size: 3rem;
  /* border: 1px solid white; */
}

.cb-container-array {
  min-height: 40vh;
  width: 55vw;
  /* border: 1px solid white; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;
}

.cb-card {
  height: 40vh;
  width: 25vw;
  border: 1px solid white;
  background: rgb(229, 104, 199);
  background: linear-gradient(
    59deg,
    rgba(229, 104, 200, 0.764) -13%,
    rgba(255, 246, 255, 0.078) 30%
  );
  box-shadow: 4px 1px 28px 16px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  transition: 3s;
}

.cb-card:hover {
  transform: scale3d(0.9, 0.9, 1);
  cursor: pointer;
}

.cb-date-time {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.cb-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.cb-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.cb-center-title {
  font-size: 2rem;
  /* border: 1px solid white; */
  margin: 2px auto;
  padding: 1.5rem;
}

.cb-phone-and-email {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid white; */
  /* padding: 1rem; */
}

.cb-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.cb-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.cb-cancel {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid white; */
  padding: 2rem;
}

.cb-cancel > button {
  height: 2rem;
  width: 4rem;
  background-color: red;
}

/* footer part  */

.cb-colfoot {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 15px;
}

#cb-logofoot {
  height: 50px;
  width: 180px;
  margin: 30px 60px;
  padding: 0;
}
.cb-foottext {
  font-size: 17px;
  align-self: flex-start;
  margin-left: 50px;
  padding-left: px;
}
#cb-social {
  display: flex;
  /* justify-content:space-evenly; */
  gap: 10px;
  margin-left: 50px;
}

.cb-foothead {
  font-size: 30px;
  font-weight: 600;
  margin-left: 70px;
  margin-top: 20px;
}

#cb-foottext {
  margin-left: 70px;
}

.cb-line-space {
  letter-spacing: 0.0001em;
}

.cb-cont {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

#cb-footer {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin: 4px;
  padding: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #191c24;
  min-height: 260px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px solid white; */
}
